bin
.classpath
/application_resources
/validators
/widgets
/forms
/src-providedGroovy
/template
/h2_database
#/process_configurations
/META-INF
.settings
target/
/build.properties

#provided web widgets
/web_widgets/pb*/

#web component preferenes
/web_widgets/.metadata
/web_fragments/.metadata
/web_page/.metadata

#bdm jar dependency is regenerate from bom.xml file
/lib/bdm-client-pojo.jar

#only used as user preferences
/database_connectors_properties
